# 1. Empêcher les erreurs de lecture
Options -Indexes
RewriteEngine On

# 2. Forcer le HTTPS (indispensable SEO)
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# 3. Support de React Router (indispensable pour le fonctionnement du site)
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
